#uptime-card {
  width: 450px;
  padding: 5px;
  margin-left: 10px;
}

#div-uptime-card {
  max-width: 500px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

#top-row-2-column-cards {
  margin-top: 10px;
}

#cronjobsList-output {
  width: 100%;
  padding: 3px;
}

#card-uptime {
  padding: 33px;
}

#cronjobs-card-subtitle-heading {
  padding-top: 12px;
}

#uptime {
  width: 100%;
}

#uptime-card-subtitle-heading {
  padding-top: 12px;
}

#row2-div {
  margin-top: 15px;
}

#currentIPs-output {
  width: 500px;
  height: 125px;
}

#currentUsers-output {
  width: 100%;
  height: 60px;
}

#div-3rd-row {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

#diskSpace-output {
  width: 100%;
  height: 200px;
}

#diskspace-card-subtitle-header {
  padding-top: 12px;
}

#processes-output {
  width: 100%;
  height: 200px;
}

#evnVariables-output {
  width: 100%;
  height: 200px;
  margin-left: 50px;
  margin: 0 50px 50px 0px;
}

#process-row {
  margin: auto;
  margin-top: 15px;
  max-width: 1150px;
}

#row-processes {
  margin-top: 15px;
}

div {
}

#Cronjobs-list-cronjobpage {
  margin-top: 10px;
  max-width: 500px;
  width: 500px;
}

#cronjobs-card-cronjobspage {
  /*width: 900px;*/
  margin-left: 10px;
  margin-right: 10px;
}

#btn-cronjobs-new {
  /*padding-right: 5px;*/
}

#btn-edit-cronjob {
  border-radius: 5px;
}

#btn-stopjob-cronjobpage {
  border-radius: 5px;
  #btn-stopjob-cronjobpage {  border-radius: 15px;
}

#btn-deletejob-cronjobpage {
  border-radius: 15px;
}

#btn-restart-uptime-card {
  margin-right: 35px;
}

#row-diskspace {
}

#div-row-diskspace {
}

#div-row-processes {
}

#card-processes {
  /*margin-left: 50px;*/
}

#process-row {
}

#div-environment-variables {
  /*margin: 0px 50px 50px 0px;*/
  /*padding: 0px 50px 50px 0px;*/
}

#disk-space-card {
}

#environment-variables-card {
}

#environment-variables-card {
}

#row-environment-variables {
  /*width: 70%;*/
}

#heading-system-stats {
}

#column-processes {
  max-width: 1150px;
  margin: auto;
  margin-top: 10px;
}

