<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Linux_Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.5.0/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search-1.css?h=891e825c5ecafa201cbb56466e2c0dd6">
    <link rel="stylesheet" href="/assets/css/Table-With-Search.css?h=dfd8bb3ecf4126e3b00f75b3f19292a7">
    <link rel="stylesheet" href="/assets/css/untitled.css?h=1e801b2d74da0e0d8a2b8ed65aafb45c">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   
</head>

<!--######################################### Modals -->


<!-- ### New cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-newmodal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="height: 50px;">
          <h4 class="modal-title"><p>New Cron Job</p></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- modal body-->
        <div class="modal-body">
          <label><strong>Quick Schedule</strong></label><br>
          <button type="button" class="btn btn-primary btn-sm"><strong>Startup</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Hourly</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Daily</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Weekly</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Monthly</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Yearly</strong></button>
          <form>
            <div class="form-group" style="padding:15px;">
                  <input type="text" class="form-control" placeholder ="Enter Job Name" id="cronjob-name">
                  <input type="text" placeholder ="Enter Command" class="form-control" id="cronjob-job">
                  <input type="text" class="form-control" placeholder ="Enter Minutes (0-59)" id="cronjob-min">
                  <input type="text" class="form-control" placeholder ="Enter Hours (0-23)" id="cronjob-hour">
                  <input type="text" class="form-control" placeholder ="Enter Day of Month (1-31)" id="cronjob-dom">
                  <input type="text" class="form-control" placeholder ="Enter Month (1-12)" id="cronjob-month">
                  <input type="text" class="form-control" placeholder ="Enter Day of Week (0-6)" id="cronjob-dow">
            </div>
          </form>
        </div>     

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-primary btn-sm"><strong>Create Cron Job</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### End New Cronjob Modal -->

<!-- ### Backup cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-backupmodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="height: 50px;">
          <h6 class="modal-title"><p><strong>Enter backup location</strong></p></h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal Body-->
        <div class="modal-body">
            <label for="cronjob-backuplocation"></label>
            <input type="file" id="cronjob-backuplocation"></input>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-primary btn-sm"><strong>Backup</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### End Backup Cronjob Modal -->


<!-- ### Import cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-importmodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="height: 50px;">
          <h6 class="modal-title"><p>Select import</p></h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

                <!-- Modal Body-->
        <div class="modal-body">
            <label for="cronjob-importlocation"></label>
            <input type="file" id="cronjob-importlocation"></input>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-primary btn-sm"><strong>Import</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### End Import Cronjob Modal -->


<!-- ### Export cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-exportmodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="height: 50px;">
          <h6 class="modal-title"><p>Select export location</p></h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal Body-->
        <div class="modal-body">
            <label for="cronjob-exportlocation"></label>
            <input type="file" id="cronjob-exportlocation"></input>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-primary btn-sm"><strong>Export</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### End Export Cronjob Modal -->



  <!-- ### Edit cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-editmodal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="height: 50px;">
          <h4 class="modal-title"><p class="text-warning">Edit Job</p></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- modal body-->
        <div class="modal-body">
          <label><strong>Quick Schedule</strong></label><br>
          <button type="button" class="btn btn-primary btn-sm"><strong>Startup</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Hourly</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Daily</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Weekly</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Monthly</strong></button>
          <button type="button" class="btn btn-primary btn-sm"><strong>Yearly</strong></button>
                    <form>
            <div class="form-group" style="padding:15px;">
                  <input type="text" class="form-control" placeholder ="Enter Job Name" id="editcronjob-name">
                  <input type="text" placeholder ="Enter Command" class="form-control" id="editcronjob-job">
                  <input type="text" class="form-control" placeholder ="Enter Minutes (0-59)" id="editcronjob-min">
                  <input type="text" class="form-control" placeholder ="Enter Hours (0-23)" id="editcronjob-hour">
                  <input type="text" class="form-control" placeholder ="Enter Day of Month (1-31)" id="editcronjob-dom">
                  <input type="text" class="form-control" placeholder ="Enter Month (1-12)" id="editcronjob-month">
                  <input type="text" class="form-control" placeholder ="Enter Day of Week (0-6)" id="editcronjob-dow">
            </div>
          </form>
        </div>     

        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-warning btn-sm"><strong>Commit Changes</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### End edit Cronjob Modal -->


<!-- ### stop cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-stopmodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title"><p class="text-danger">Stop Job?</p></h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-danger btn-sm"><strong>Stop</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### stop Cronjob Modal -->


  <!-- ### delete cron job Modal -->
      <!-- The Modal -->
  <div class="modal" id="cronjob-deletemodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color: #e84c31;height: 50px; color: white;">
          <h6 class="modal-title"><p> Delete Job?</p></h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" style="color: white;"><strong>Cancel</strong></button>
          <button type="submit" class="btn btn-danger btn-sm"><strong>Delete</strong></button>
        </div>
        
      </div>
    </div>
  </div>
  <!--### End delete Cronjob Modal -->




<!--######################################### End Modals -->




<body style="background-color: #f7f7f7;">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="/assets/img/Tux_Enhanced.svg.png?h=a304f978ac7dd60b30955be497d25eca" style="height: 75px;">Linux Admin</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/system_stats"><strong>System Statistics</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-body" href="/cronjobs"><strong>CronJobs</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-body" href="#"><strong>Database</strong></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div style="margin: 10px 50px 50px 0px;" id="Cronjobs-list-cronjobpage"></div>
    <div class="card" style="margin: 0px 100px 0px 100px" id="cronjobs-card-cronjobspage">
        <div class="card-body">
            <h4 style="margin-left: 15px;" class="card-title">Cron Jobs List</h4>
            <div class="btn-group" role="group" style="margin-left: 15px;">
                <button class="btn btn-primary btn-sm text-left" data-toggle="modal" data-target="#cronjob-newmodal" id="btn-cronjobs-new" style="margin-left: 5px;" type="button" title="New cron job">New</button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cronjob-backupmodal" id="btn-cronjobs-backup" style="margin-left: 5px;" type="submit" title="Backup cron job">Backup</button>  
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cronjob-importmodal" id="btn-cronjobs-import" style="margin-left: 5px;" type="submit" title="Import cron job">Import</button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cronjob-exportmodal" id="btn-cronjobs-export" style="margin-left: 5px;" type="submit" title="Export cron job">Export</button>
            </div>
            <!-- Start: Table With Search -->
            <div class="col-md-12 search-table-col">
                <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Search job by typing here.."></div><span class="counter pull-right"></span>
                <div class="table-responsive table-bordered table table-hover table-bordered results">
                    <table class="table table-bordered table-hover">
                        <thead style="background-color: #0275d8;color:white;">
                            <tr>
                                <th id="trs-hd" class="col-lg-1" >#</th>
                                <th id="trs-hd" class="col-lg-2">Name</th>
                                <th id="trs-hd" class="col-lg-3">Job</th>
                                <th id="trs-hd" class="col-lg-2">Time</th>
                                <th id="trs-hd" class="col-lg-2">Last Modified</th>
                                <th id="trs-hd" class="col-lg-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning no-result">
                                <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                            </tr>
                            <tr>
                                <td class="text-center">01</td>
                                <td class="text-center">Backup&nbsp;</td>
                                <td class="text-center">&nbsp;/home/eli/bin/backup.sh &gt;&gt; /home/eli/logs/back.log 2&gt;&amp;1</td>
                                <td class="text-center">*/2 * * * *</td>
                                <td class="text-center">5 minutes ago</td>
                                <td class="text-center">
                                <button class="btn" id="btn-edit-cronjob" data-toggle="modal" data-target="#cronjob-editmodal" style="margin-left: 5px;background-color: #f0ad4e;" type="submit" title="Edit Job"><i class="fa fa-edit" style="font-size: 15px;"></i></button>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#cronjob-stopmodal" id="btn-stopjob-cronjobpage" style="margin-left: 5px;background-color: rgb(115,156,232);" type="submit" title="Stop Job"><i class="fa fa-hand-stop-o" style="font-size: 15px;"></i></button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#cronjob-deletemodal" id="btn-deletejob-cronjobpage" style="margin-left: 5px;" type="submit" title="Delete Job"><i class="fa fa-trash" style="font-size: 15px;"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- End: Table With Search -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=de81e5c47df32ab5ad05d8b1819c4c2a"></script>
    <script src="/assets/js/Table-With-Search.js?h=aeb9a0ac8b6cc9ec2e3b9cc3add2f239"></script>
</body>

</html>