<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Linux_Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.5.0/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search-1.css?h=891e825c5ecafa201cbb56466e2c0dd6">
    <link rel="stylesheet" href="/assets/css/Table-With-Search.css?h=dfd8bb3ecf4126e3b00f75b3f19292a7">
    <link rel="stylesheet" href="/assets/css/untitled.css?h=1e801b2d74da0e0d8a2b8ed65aafb45c">
</head>

<body>
    <div class="card"></div>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/index.html"><img src="/assets/img/Tux_Enhanced.svg.png?h=a304f978ac7dd60b30955be497d25eca" style="height: 75px;">Linux Admin</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/stats.html"><strong>System Statistics</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-body" href="/cronjobs.html"><strong>CronJobs</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-body" href="#"><strong>Database</strong></a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="text-center d-inline-block" id="top-div">
            <br><h2 class="text-center" id="heading-system-stats">System Stats</h2>
            <div class="dropdown"><button class="btn btn-link dropdown-toggle text-center d-inline-block" data-toggle="dropdown" aria-expanded="false" type="submit"><strong>Local Machine&nbsp;</strong></button>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </div>
        </div>
    </div>
    <!-- Start: 1 Row 2 Columns -->
    <div id="top-row-2-column-cards">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="card-uptime">
                            <h4 class="text-left card-title">Uptime<button class="btn btn-danger btn-sm border rounded float-right d-xl-flex" id="btn-restart-uptime-card" type="submit" style="width: 75px;"><strong>RESTART</strong></button></h4><textarea id="uptime">{{uptime}}</textarea>
                            <h6 class="text-muted card-subtitle mb-2"
                                id="uptime-card-subtitle-heading">Displays system uptime</h6>
                            <p class="card-text">Knowing your server's uptime means knowing when your server and what it serves is accessible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-left card-title">Cron Jobs List<button class="btn btn-link btn-sm float-right" type="button"><strong>Edit</strong></button></h4><textarea id="cronjobsList-output">{{cronjobs}}</textarea>
                            <h6 class="text-muted card-subtitle mb-2" id="cronjobs-card-subtitle-heading">Cron Jobs</h6>
                            <p class="card-text">* * * * * &lt;command to execute&gt;<br>The syntax is minutes (0-59), hours (0-23), day of month (1-31), month (1-12), and day of the week (0-6).&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <div id="row2-div"></div>
    <!-- Start: 1 Row 2 Columns -->
    <div id="top-row-2-column-cards-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="card-uptime">
                            <h4 class="text-left card-title">Current users &amp; load average</h4><textarea id="currentUsers-output">{{current_users}}</textarea>
                            <h6 class="text-muted card-subtitle mb-2" id="uptime-card-subtitle-heading">Displays current user information</h6>
                            <p class="card-text">Knowing your server's uptime means knowing when your server and what it serves is accessible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="card-uptime">
                            <h4 class="text-left card-title">IP Addresses
                                <div class="btn-group btn-group-sm float-right" role="group"><button class="btn btn-warning" type="submit"><strong>Release</strong></button><button class="btn btn-success" type="submit"><strong>REnew&nbsp;</strong></button><button class="btn btn-primary" type="submit"><strong>Refresh&nbsp;</strong></button></div>
                            </h4><textarea id="currentUsers-output">{{currentIPs}}</textarea>
                            <h6 class="text-muted card-subtitle mb-2" id="uptime-card-subtitle-heading">Displays&nbsp;Current IP Addresses</h6>
                            <p class="card-text">Knowing your server's uptime means knowing when your server and what it serves is accessible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <div class="d-inline" id="div-row-processes">
        <div class="row" id="process-row">
            <div class="col" id="column-processes">
                <div class="card" id="card-processes">
                    <div class="card-body">
                        <h4 class="text-left card-title"><strong>Processes</strong><button class="btn btn-danger btn-sm text-center border rounded float-right" type="submit"><strong>Kill</strong></button><input class="form-control-sm float-right" type="text" placeholder="PID to kill"
                                name="pid2kill" style="height: 25px;margin: 1px;"></h4><textarea id="processes-output">{{processes}}</textarea></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-inline" id="div-row-diskspace">
        <div class="row" id="row-diskspace">
            <div class="col" id="div-col-diskspace">
                <div class="card" id="disk-space-card">
                    <div class="card-body">
                        <h4 class="text-left card-title">Disk Space<button class="btn btn-primary btn-sm float-right" type="submit"><strong>Refresh</strong></button></h4><textarea id="diskSpace-output">{{disk_space}}</textarea></div>
                </div>
            </div>
        </div>
    </div>
    <div id="div-environment-variables">
        <div class="row" id="row-environment-variables">
            <div class="col">
                <div class="card" id="environment-variables-card">
                    <div class="card-body">
                        <h4 class="text-left card-title">Environment Variables
                            <div class="btn-group btn-group-sm float-right" role="group"><button class="btn btn-primary" type="submit"><strong>Refresh</strong></button><button class="btn btn-warning" type="submit"><strong>Edit</strong></button></div>
                        </h4><textarea id="evnVariables-output">{{env_variables}}</textarea></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=de81e5c47df32ab5ad05d8b1819c4c2a"></script>
    <script src="/assets/js/Table-With-Search.js?h=aeb9a0ac8b6cc9ec2e3b9cc3add2f239"></script>
</body>

</html>